*{
  text-align: center;
  font-family: "Courier"
}

body {
  padding: 20px 40px;
  font-family: "Verdana";
}
.overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h1 {
  margin: 20px;
}

.t3cell {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.position{
  position: relative;
  bottom: -160px;
    right: 0;

}
